/* src/pages/Home.css */

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home-container {
  text-align: center;
  background-image: url('assets/parking.jpg');
  filter: grayscale(0.9);
  height: calc(100vh - 50px);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

.home-content {
  max-width: 600px;
  margin: 0 auto;
  background-color: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }

.intro-text {
  font-size: 1.2em;
  color: #1d1c1c;
  /* background-color: black; */
  padding: 10px;
  filter: opacity(.8);
}

.search-filter {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-input {
  padding: 10px;
  width: 300px;
}

.search-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #45a049;
}
.home-links {
  margin-top: 10px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
}

.home-links .btn {
  height: 40px;
  width: 120px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
}

.home-links .btn-primary {
  background-color: #007bff;
}

.home-links .btn-secondary {
  background-color: #6c757d;
}

.home-links .btn-tertiary {
  background-color: #28a745;
}

.home-links .btn-admin {
  background-color: #dc3545;
}

.stats {
  font-size: 1.1em;
}

h1 {
  color: white;
  font-weight: 800;
}
